body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

/* Navbar Styles Start*/
.search-bar {
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.links a {
    text-decoration: none;
}

.search-input {
    width: 900px;
    padding: 10px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

input[type="search"]::-ms-clear {
    display: none;
}

.search-wrapper {
    position: relative;
}

.search-wrapper .btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    background: transparent;
}

.links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.links a {
    text-decoration: none;
}

.bg-custom {
    background-color: #7ca28e;
}

.navbar-brand span {
    font-weight: bold;
    color: white;
}

.form-control {
    width: 500px;
}

.navbar-toggler {
    border: none;
}

.nav-icons {
    font-size: 20px;
    vertical-align: middle;
    position: relative;
}

.nav-icons a {
    text-decoration: none;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #16423C;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    line-height: 14px;
    z-index: 5;
}

.favorites-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #16423C;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    line-height: 14px;
    z-index: 5;
}

.icon-link {
    position: relative;
    display: inline-block;
}

@media (max-width: 991px) {
    .form-control {
        max-width: 100%;
        /* Full width on smaller screens */
    }
}

@media (min-width: 992px) {
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
}

/*Navbar Styles End*/

/*Index.html Page Styles Start*/

/* Hero Section Styles Start*/
.hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.hero-content {
    text-align: left;
    margin-right: 0px;
}

.hero h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 0 2.5rem 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    min-width: 450px;
}

.hero h2 span {
    color: #16423C;
}

.hero h2 span.low-price {
    color: #6A9C89;
}

.hero button {
    background-color: #16423C;
    color: white;
    border: none;
    padding: 0px;
    margin-top: 0rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.hero button:hover {
    background-color: #0f2d29;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.book-covers {
    position: relative;
    width: 40%;
    height: 300px;
    margin-right: 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-covers img {
    width: 280px;
    position: absolute;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.book-covers img:nth-child(1) {
    z-index: 3;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.book-covers img:nth-child(2) {
    z-index: 2;
    right: 30%;
    top: 50%;
    transform: translate(30%, -50%) scale(0.9);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}

.book-covers img:nth-child(3) {
    z-index: 1;
    right: 10%;
    top: 50%;
    transform: translate(10%, -50%) scale(0.8);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

/* Hero Section Styles End*/


/* Featured Section Styles Start*/
#featured-section {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #16423C;
}

#featured-section h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
}

/* Featured Section Styles End*/


/* Showcase Section Styles Start*/

.section-line {
    height: 3px;
    background-color: black;
}

.product-box {
    margin: auto;
    display: block;
    transition: display 0.3s ease-out;
}

.product-info {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: left;
}

.product-inner-box .icons {
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    top: -3%;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.icons a:first-child {
    transition: all 0.3s ease;
}

.icons a:first-child:hover {
    transform: scale(1.1);
}

.icons a:first-child i.favorited {
    color: #ff0000;
}

.product-inner-box .icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
}

.product-inner-box .onsale .badge {
    background: #6A9C89;
    font-size: 12px;
    padding: 5px 14px;
    top: 0px;
    left: 0px;
    position: absolute;
}

.product-inner-box .onsale .badge:before {
    border-width: 10px 0px 0px 10px;
    border-color: transparent transparent transparent #6A9C89;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    bottom: 0;
    border-style: solid;
}

.product-inner-box .onsale .badge:after {
    border-width: 10px 8px 0 10px;
    border-color: #6A9C89 transparent transparent;
    content: '';
    position: absolute;
    right: -8px;
    width: 0;
    top: 0;
    border-style: solid;
}

.product-inner-box img {
    box-shadow: 0 33px 61px -29px rgb(0 0 0 / 26%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-box.is-hover .icons {
    transform: rotateY(-3%);
    top: 3%;
    opacity: 1;
}

.cart-btn {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.cart-btn button {
    background: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cart-btn button:hover {
    background-color: #f8f8f8;
}

.product-box.product-box.is-hover .cart-btn {
    opacity: 1;
}

#showBtn {
    background-color: #16423C;
    color: white;
}

#showBtn:hover {
    background-color: #0e2b27;
    color: white;
}

.notification-popup {
    position: fixed;
    top: 80px;
    right: 8px;
    background-color: #fff;
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateX(120%);
    transition: transform 0.3s ease;
    z-index: 9999;
}

.notification-popup.show {
    transform: translateX(0);
}

.notification-popup i {
    font-size: 1.2em;
}

.notification-popup.success i {
    color: #16423C;
}

.notification-popup.error i {
    color: #dc3545;
}

/* Showcase Section Styles End*/


/* Dedicated Section Styles Start */
#dedicated-section {
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(0, 0, 0, 0.5)), url(../media/background.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#dedicated-section h2 {
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#dedicated-section h5 {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#dedicated-section p {
    font-size: 1rem;
    padding-top: 0px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#dedicated-section .video-btn {
    display: inline-block;
    margin-top: .2rem;
    padding: 0.7rem 2rem;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

#dedicated-section .video-btn:hover {
    transform: scale(1.15);
}

#dedicated-section video {
    display: block;
    max-width: 100%;
    margin: 20px auto 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.audio-control {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6A9C89;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 1000;
}

.audio-control:hover {
    background-color: rgb(44, 69, 49);
    transform: scale(1.1);
}


#videoContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow: hidden;
}

#videoContainer video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    max-width: 1920px;
    max-height: 1080px;
}

#exitFullscreen {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 12px;
    font-size: 17px;
    color: white;
    background-color: #6A9C89;
    border: none;
    cursor: pointer;
    z-index: 1001;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#exitFullscreen:hover {
    background-color: rgb(44, 69, 49);
    transform: scale(1.1);
}

body.video-open {
    position: fixed;
    width: 100%;
    height: 100%;
}


/* Footer Section Styles Start*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
}

footer i {
    font-size: 24px;
    margin: 0 15px;
    color: #16423C;
}

footer i:hover {
    color: #0f2d29;
    transition: color 0.3s ease;
}

/*Index.html Page Styles Start*/


/* Cart.html Page Styles Start*/
.cart-item img {
    max-width: 100px;
    height: auto;
}

.cart-item {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.quantity-controls button {
    padding: 0.25rem 0.5rem;
    background: #16423C;
    color: white;
    border: none;
    border-radius: 4px;
}

#checkout-btn-cart {
    background-color: #16423C;
    color: white;
}

/* Cart.html Page Styles End*/



/* Account.html Page Styles Start*/
.card {
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #16423C;
    border-color: #16423C;
}

.btn-primary:hover {
    background-color: #0f2d29;
    border-color: #0f2d29;
}

#form-account h1 {
    margin-bottom: 20px;
    color: #3c763d;
    text-align: center;
}

.input-control {
    margin-bottom: 15px;
    text-align: left;
}

#form-account label {
    display: block;
    margin-bottom: 5px;
    color: #3c763d;
}

#form-account input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-account button {
    background: #16423C;
    ;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#form-account button:hover {
    background: #0e2825;
}

#form-account a {
    color: #3c763d;
    text-decoration: none;
}

#form-account .toggle {
    margin-top: 15px;
    text-align: center;
}

.icon-link {
    transition: display 0.3s ease-out;
}

#logoutBtn {
    cursor: pointer;
    transition: all 0.3s ease;
}

#logoutBtn:hover {
    opacity: 0.8;
}

/* Account.html Page Styles End*/


/* Media queries for responsive design */


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero h2 {
        font-size: 4.5rem;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .book-covers {
        width: 100%;
        height: 350px;
    }

    .book-covers img {
        width: 350px;
    }

    .book-covers img:nth-child(1) {
        right: 60%;
    }

    .book-covers img:nth-child(2) {
        right: 40%;
    }

    .book-covers img:nth-child(3) {
        right: 20%;
    }
}

@media (min-width: 769px) {
    .hero h2 {
        font-size: 3.5rem;
    }

    .hero button {
        font-size: 1.1rem;
        padding: 14px 18px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 20px;
        text-align: center;
        justify-content: center;
    }

    .hero-content {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .hero-content h2 {
        font-size: 24px;
        /* Smaller font size for mobile */
        line-height: 1.4;
    }

    .hero-content button {
        width: 80%;
        /* Wider button for better touch target */
        max-width: 300px;
        padding: 15px;
        margin: 20px auto;
    }

    .book-covers {
        margin-right: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .book-covers img {
        width: 120px;
        height: auto;
    }
}

/* For very small screens */
@media screen and (max-width: 480px) {
    .hero-content h2 {
        font-size: 20px;
    }

    .book-covers img {
        width: 100px;
    }
}